<app-external-page [display]="'block'">
	<!-- **************************************************** -->
	<!-- MAIN CONTENT -->
	<!-- **************************************************** -->
	<nz-spin nzTip="Loading..." [nzSpinning]="loading">
		<div class="container w-100 d-block p-15">
			<!-- ******************** -->
			<!-- TITLE -->
			<!-- ******************** -->
			<div class="d-flex align-items-center justify-content-between">
				<h1 class="m-0">
					{{ user.companyName ? user.companyName : user.name }}
					{{ common.translate("Events") }}
				</h1>
			</div>
			<!-- ******************** -->
			<!-- DIVIDER -->
			<!-- ******************** -->
			<nz-divider></nz-divider>
			<!-- ******************** -->
			<!-- EVENT LIST -->
			<!-- ******************** -->
			<nz-list nzItemLayout="horizontal" [nzLoading]="loading">
				<nz-list-item *ngFor="let item of events">
					<nz-list-item-meta>
						<nz-list-item-meta-avatar
							[nzSrc]="
								item.EventImages?.length > 0
									? item.EventImages[0].path
									: 'assets/no-image.png'
							"
						></nz-list-item-meta-avatar>
						<nz-list-item-meta-title>
							<a class="bold" (click)="viewEvent(item.id)">{{ item.name }}</a>
						</nz-list-item-meta-title>
						<nz-list-item-meta-description>
							<span>{{ item.description }}</span>
							<br />
							<nz-space>
								<nz-space-item>
									<span>{{ item.startDate | date: "shortDate" }}</span>
									<span>{{ " - " }}</span>
									<span>{{ item.startTime | date: "shortTime" }}</span>
								</nz-space-item>
								<nz-space-item>
									<span>{{ " : " }}</span>
								</nz-space-item>
								<nz-space-item>
									<span>{{ item.endDate | date: "shortDate" }}</span>
									<span>{{ " - " }}</span>
									<span>{{ item.endTime | date: "shortTime" }}</span>
								</nz-space-item>
							</nz-space>
						</nz-list-item-meta-description>
					</nz-list-item-meta>
					<ul nz-list-item-actions>
						<nz-list-item-action>
							<button nz-button nzType="primary" (click)="viewEvent(item.id)">
								{{ common.translate("Details/Register") }}
							</button>
						</nz-list-item-action>
					</ul>
				</nz-list-item>
				<app-empty-placeholder *ngIf="events.length === 0"></app-empty-placeholder>
			</nz-list>
		</div>
	</nz-spin>
</app-external-page>
