<!-- MAIN CONTENT -->
<nz-spin nzTip="Loading..."
         [nzSpinning]="loading">
    <div class="d-block" [class.p-15]="!isHandset">
        <nz-card class="box-shadow">
            <!-- TITLE -->
            <div class="d-flex align-items-center justify-content-between">
                <h1 *ngIf="!isHandset" class="m-0">
                    {{ common.translate("All Events") }}
                </h1>
                <div class="d-flex align-items-center justify-content-end">
                    <nz-space>
                        <ng-container *ngIf="!isHandset">
                            <button *nzSpaceItem
                                    nz-button
                                    nzType="primary"
                                    (click)="createEvent()">
                                {{ common.translate("Add New") }}
                            </button>
                        </ng-container>
                        <div *nzSpaceItem
                             class="d-block">
                            <nz-input-group [nzSuffix]="suffixIconSearch">
                                <input type="text"
                                       [(ngModel)]="filterParams.filters.generic.searchValue"
                                       (ngModelChange)="renavigate()"
                                       nz-input
                                       [placeholder]="common.translate('Search')"/>
                            </nz-input-group>
                            <ng-template #suffixIconSearch>
                                <i nz-icon
                                   nzType="search"></i>
                            </ng-template>
                        </div>
                        <nz-date-picker *nzSpaceItem
                                        [(ngModel)]="filterParams.filters.date"
                                        (ngModelChange)="renavigate()"
                                        [nzPlaceHolder]="common.translate('Choose a date')"
                                        [nzFormat]="settings.dateFormat">
                        </nz-date-picker>
                    </nz-space>
                </div>
            </div>
            <!-- DIVIDER -->
            <nz-divider></nz-divider>
            <!-- DATATABLE -->
            <ng-container *ngIf="!isHandset; else allEventsMobileListing">
                <nz-table nzShowSizeChanger
                          [nzData]="data"
                          [nzFrontPagination]="false"
                          [nzLoading]="loading"
                          [nzTotal]="filterParams.paging.total"
                          [nzPageSize]="filterParams.paging.limit"
                          [nzPageIndex]="filterParams.paging.pageIndex"
                          [nzNoResult]="empty_template"
                          (nzQueryParams)="onTableQueryParamsChange($event)">
                    <thead>
                    <tr>
                        <th>{{ common.translate("Name") }}</th>
                        <th>{{ common.translate("Location") }}</th>
                        <th class="text-center">{{ common.translate(["Start"]) }} - {{ common.translate(["End"]) }}</th>
                        <th>{{ common.translate("Status") }}</th>
                        <th>{{ common.translate("Repeating Event") }}</th>
                        <th style="width: 100px">
                            {{ common.translate("Actions") }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of data">
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.location }}
                        </td>
                        <td class="text-center">
                            <ng-container *ngIf="item.startDate === item.endDate; else differentDates">
                                <div class="ws-nowrap">
                                    {{ item.startTime | date: settings.timeFormat }}
                                    - {{ item.endTime | date: settings.timeFormat }}
                                </div>
                                <div class="ws-nowrap">
                                    {{ item.endDate | date: settings.dateFormat }}
                                </div>
                            </ng-container>
                            <ng-template #differentDates>
                                <div class="ws-nowrap">
                                    {{ item.startTime | date: settings.timeFormat }} {{ item.startDate | date: settings.dateFormat }}
                                </div>
                                <div class="ws-nowrap">
                                    {{ item.endTime | date: settings.timeFormat }} {{ item.endDate | date: settings.dateFormat }}
                                </div>
                            </ng-template>
                        </td>
                        <td>
                            {{ common.translate(item.status) }}
                        </td>
                        <td>
                            {{ item.repeat ? common.translate("Yes") : common.translate("No") }}
                        </td>
                        <!-- ACTIONS -->
                        <td class="action-td">
                            <nz-space>
                                <button *nzSpaceItem
                                        [nzTooltipTitle]="common.translate('View Details')"
                                        nzTooltipPlacement="top"
                                        nz-tooltip
                                        nz-button
                                        nzType="default"
                                        nzShape="circle"
                                        (click)="viewEvent(item.id)">
                                    <i nz-icon nzType="zoom-in" nzTheme="outline"></i>
                                </button>
                                <button *nzSpaceItem
                                        [nzTooltipTitle]="common.translate(['Check-In', 'Participants'])"
                                        nzTooltipPlacement="top"
                                        nz-tooltip
                                        nz-button
                                        nzType="primary"
                                        nzShape="circle"
                                        (click)="checkIn(item.id)">
                                    <i nz-icon
                                       nzType="check-square"
                                       nzTheme="outline">
                                    </i>
                                </button>
                                <button *nzSpaceItem
                                        [nzTooltipTitle]="common.translate('Edit')"
                                        nzTooltipPlacement="top"
                                        nz-tooltip
                                        nz-button
                                        nzType="primary"
                                        nzShape="circle"
                                        (click)="editEvent(item.id)">
                                    <i nz-icon
                                       nzType="edit"
                                       nzTheme="outline">
                                    </i>
                                </button>
                                <button *nzSpaceItem
                                        [nzTooltipTitle]="common.translate('Delete')"
                                        nzTooltipPlacement="top"
                                        nz-tooltip
                                        nz-button
                                        nzType="primary"
                                        nzDanger
                                        nzShape="circle"
                                        (click)="deleteEventClicked(item)">
                                    <i nz-icon
                                       nzType="delete"
                                       nzTheme="outline">
                                    </i>
                                </button>
                            </nz-space>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </ng-container>

            <ng-template #allEventsMobileListing>
                <div *ngFor="let event of data" class="w-100 box-shadow" style="margin-bottom: 10px">
                    <nz-card [nzTitle]="event.name" [nzLoading]="loading">
                        <p><span class="bold">{{common.translate('Location')}}:</span>
                            {{event.location}}
                        </p>

                        <ng-container *ngIf="event.startDate === event.endDate; else differentDates">
                            <span class="bold">
                            {{ common.translate(["Start"]) }} - {{ common.translate(["End"]) }}
                            </span>

                            <div class="ws-nowrap">
                                {{ event.startTime | date: settings.timeFormat }}
                                - {{ event.endTime | date: settings.timeFormat }}

                                {{ event.endDate | date: settings.dateFormat }}
                            </div>
                        </ng-container>

                        <ng-template #differentDates>
                            <div class="ws-nowrap">
                                <span class="bold">{{ common.translate(["Start"]) }}:</span>
                                {{ event.startTime | date: settings.timeFormat }} {{ event.startDate | date: settings.dateFormat }}
                            </div>
                            <div class="ws-nowrap">
                                <span class="bold">{{ common.translate(["End"]) }}:</span>
                                {{ event.endTime | date: settings.timeFormat }} {{ event.endDate | date: settings.dateFormat }}
                            </div>
                        </ng-template>

                        <div class="d-flex align-items-end justify-content-end">
                            <nz-space>
                                <button *nzSpaceItem
                                        [nzTooltipTitle]="common.translate('View Details')"
                                        nzTooltipPlacement="top"
                                        nz-tooltip
                                        nz-button
                                        nzType="default"
                                        nzShape="circle"
                                        (click)="viewEvent(event.id)">
                                    <i nz-icon nzType="zoom-in" nzTheme="outline"></i>
                                </button>
                                <button *nzSpaceItem
                                        [nzTooltipTitle]="common.translate(['Check-In', 'Participants'])"
                                        nzTooltipPlacement="top"
                                        nz-tooltip
                                        nz-button
                                        nzType="primary"
                                        nzShape="circle"
                                        (click)="checkIn(event.id)">
                                    <i nz-icon
                                       nzType="check-square"
                                       nzTheme="outline">
                                    </i>
                                </button>
                            </nz-space>
                        </div>
                    </nz-card>
                </div>

                <div class="w-100 d-flex justify-content-center">
                    <nz-pagination [nzTotal]="filterParams.paging.total"
                                   [nzPageSize]="filterParams.paging.limit"
                                   [nzPageIndex]="filterParams.paging.pageIndex"
                                   (nzPageIndexChange)="onPaginatorPageChange($event)"></nz-pagination>
                </div>
            </ng-template>
        </nz-card>
    </div>
</nz-spin>
<!-- EMPTY TEMPLATE -->
<ng-template #empty_template>
    <app-empty-placeholder></app-empty-placeholder>
</ng-template>
<!-- DETAILS MODAL -->
<app-event-details-modal [event]="eventInFocus"
                         [settings]="settings"
                         *ngIf="common.modals.detailsModal">
</app-event-details-modal>
<!-- DELETE EVENT MODAL -->
<app-delete-event-modal [event]="eventInFocus"
                        (deleteEventEmitter)="deleteEvent($event)">
</app-delete-event-modal>
