::ng-deep .ant-descriptions-item-label {
    font-weight: bold;
}

.event-image {
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

::ng-deep [nz-carousel-content] {
    text-align: center;
    line-height: 160px;
    height: 400px;
    background: #fff;
    color: #fff;
    overflow: hidden;
}

::ng-deep .slick-list {
    height: 400px !important;
}

::ng-deep .slick-track {
    height: 400px !important;
}

#card-error {
    color: rgb(105, 115, 134);
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
}

#card-element {
    border-radius: 2px;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    width: 100%;
    background: transparent;
}

::ng-deep .ant-form-item-label.no-colon > label::after {
    content: "";
}

::ng-deep body {
    background: #ffffff !important;
}

.info-box {
    min-height: 170px;
}


button {
    width: 150px;
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%, #0d3c67 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #0d3c67;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .2);
    cursor: pointer;
    display: block;
    margin-bottom: 20px;
    margin-top: 12px;
}

button:active {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
    top: 1px;
}

button:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #0d3c67;
    border-bottom: 20px solid #0d3c67;
    border-left: 16px solid transparent;
    border-right: 20px solid #0d3c67;
    position: absolute;
    opacity: 0.6;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
}

.register-button{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 5;
}

.info-box {
    min-height: 60px !important;
    background-color: #F9F9F9;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-icon {
    font-size: 30px !important;
    background-color: #0d3c67;
    color: white;
    border-radius: 50%;
    line-height: 60px !important;
}

.title {
    font-weight: bold !important;
}

.content {
    color: #BDBDBD !important;
}
