<!-- ****************************************************** -->
<!-- MAIN CONTENT -->
<!-- ****************************************************** -->
<app-external-page>
	<nz-card class="box-shadow">
		<!-- *************** -->
		<!-- SPINNER -->
		<!-- *************** -->
		<nz-spin nzTip="Loading..." [nzSpinning]="loading">
			<!-- *************** -->
			<!-- TITLE -->
			<!-- *************** -->
			<h1 class="text-center">{{ common.translate("Forgot password?") }}</h1>
			<!-- *************** -->
			<!-- FORM -->
			<!-- *************** -->
			<form nz-form [formGroup]="formGroup" class="login-form" (ngSubmit)="submit()">
				<nz-form-item>
					<nz-form-control [nzErrorTip]="common.translate('This field is required!')">
						<nz-input-group nzPrefixIcon="mail">
							<input
								type="text"
								nz-input
								formControlName="email"
								[placeholder]="common.translate('Email')"
							/>
						</nz-input-group>
					</nz-form-control>
				</nz-form-item>
				<button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
					{{ common.translate("Submit") }}
				</button>
				{{ common.translate("Or") }}
				<a [routerLink]="['/register']">
					{{ common.translate("Sign Up") }}
				</a>
			</form>
		</nz-spin>
	</nz-card>
</app-external-page>
